<%-include('../public/head.html')%>
<link rel="stylesheet" href="/back/project/css/hcj_add.css">
<div class="addr clearfix">
    <ul>
        <li><a href="/back"><i class="iconfont icon-shouye"></i> </a> </li>
        <li><a href="/back/project"><i title="作品" class="mar_rig iconfont icon-sample"></i></a> </li>
        <li><a href="/back/project">h5+c3+js</a> </li>
        <li><a href="/back/project">添加</a> </li>
    </ul>
</div>
<div class="module_list clearfix">
    <a href="/back/project/hcj">h5+c3+js</a>
    <a href="/back/project/h5">html5</a>
    <a href="/back/project/c3">css3</a>
    <a href="/back/projectjs/">javascript</a>
    <a href="/back/project/node">nodejs</a>
</div>

<form class="add_main" action="/back/project/hcj_editor_do" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<%-hcj[0].id %>">
    <h2>作品编辑</h2>
    <h4>作品标题</h4>
    <select class="title_op" name="project_type" >
        <option value="null">请选择</option>
        <option value="1" <% if(hcj[0].project_type==1) { %> selected="selected" <% }%>>原创</option>
        <option value="0" <% if(hcj[0].project_type==0) { %>selected="selected" <% } %>>转载</option>
    </select>
    <input class="title" placeholder="请输入作品标题" name="title" value="<%-hcj[0].title%>">
    <h4>上传图片</h4>
    <input type="file" class="upimage" name="upimage" >
    <input type="hidden"  name="up_image" value="<%-hcj[0].img%>" >
    <input type="hidden" name="tab" value="hcj">
    <h4>上传代码</h4>
   <input type="file" class="upcode" name="upcode"  >
    <input type="hidden" class="upcode" name="up_code" value="<%-hcj[0].preview%>" >
    <input class="codename" placeholder="请输入文件名" name="codename" >
    <h4>作品内容</h4>
    <textarea name="content" id='content'   rows="12" cols="80" style="width: 90%;height:400px"><%-hcj[0].content %></textarea>
    <input type="submit" value="保存" class="submit">

</form>
<%-include('../public/footer.html')%>
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    var ue = UE.getEditor('content');

  var types=['text/html','text/js'];
  console.log($('.upcode'));
  $('.upcode').change(function () {
      console.log($(this).get(0).files);
      var type=$(this).get(0).files[0].type;

      if($.inArray(type,types)!=-1){
          if($(this).parent().find("span")){
            $(this).parent().remove('span');
         }

      }else{
          $(this).after("<span style='color:red;font-size: 12px;'>只能上传HTML、js格式的文件</span>");
      }

  })

</script>
