<%-include('../public/head.html')%>
<link rel="stylesheet" href="/back/project/css/index.css">
<div class="addr clearfix">
    <ul>
        <li><a href="/back"><i class="iconfont icon-shouye"></i> </a> </li>
        <li><a href="/back/project"><i title="作品" class="mar_rig iconfont icon-sample"></i></a> </li>
    </ul>
</div>
<div class="module_list clearfix">
    <a href="/back/project/hcj">h5+c3+js</a>
    <a href="/back/project/h5">html5</a>
    <a href="/back/project/c3">css3</a>
    <a href="/back/projectjs/">javascript</a>
    <a href="/back/project/node">nodejs</a>
</div>


<%-include('../public/footer.html')%>



