<%-include('../public/head.html')%>
<link rel="styleSheet" href="/project/css/hcj.css">
<main>
    <div class="content">
		<div class="nav">
			<a href="/project/hcj" class="active">h5+c3+js+jq</a>
			<a href="/project/css3">css3</a>
			<a href="/project/js">javascript</a>
			<a href="/project/h5"> HTML5</a>
			<a href="/project/es6">es6</a>
		</div>
		<div class="content_box" id="content_box">

		</div>

    </div>
    <div class="rank">
		<div class="hot">
			<div class="title">最新作品</div>
			<ul>
				<li><a href="/project/hcj_bz" >爆炸图片</a></li>
				<li><a href="/project/hcj_bz" >爆炸图片</a></li>
				<li><a href="/project/hcj_bz" >爆炸图片</a></li>
				<li><a href="/project/hcj_bz" >爆炸图片</a></li>
				<li><a href="/project/hcj_bz" >爆炸图片</a></li>
				<li><a href="/project/hcj_bz" >爆炸图片</a></li>
				<li><a href="/project/hcj_bz" >爆炸图片</a></li>
				<li><a href="/project/hcj_bz" >爆炸图片</a></li>
				<li><a href="/project/hcj_bz" >爆炸图片</a></li>
				<li><a href="/project/hcj_bz" >爆炸图片</a></li>
			</ul>
		</div>
    </div>
</main>
<%-include('../public/footer.html')%>
<script src="/js/moudel_index.js"></script>

