<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/font/iconfont.css">
    <link rel="stylesheet" href="/back/css/head.css">
</head>
<body>
        <div class="nav_left">
            <div class="head">
                <i  class="ji show right iconfont icon-icon-sidebar-fold"></i>
            </div>
            <ul class="content">
                <li><a href="/back/project"> <i title="作品" class="mar_rig iconfont icon-sample"></i>作品</a><span  class="add"></span></li>
                <div class="content_list">
                     <ul>
                        <li><a href="/back/project/h5?tab=h5"> HTML5</a></li>
                        <li><a href="/back/project/c3?tab=c3"> css3</a></li>
                        <li><a href="/back/project/js?tab=js"> JavaScript</a></li>
                        <li><a href="/back/project/node?tab=node"> nodejs</a></li>
                    </ul>
                </div>
                <li><a href="/back/article"><i title="文章" class="mar_rig iconfont icon-cion3"></i> 文章</a><span  class="add"></span></li>
                <div class="content_list">
                   <ul>
                       <li><a href="/back/article/bump"> 遇过的坎</a></li>
                   </ul>
               </div>
                <li><a href="/back/book"><i title="推荐书籍" class= "mar_rig iconfont icon-book"></i> 推荐书籍</a></li>
                <li><a href="/back/note"><i title="学习笔记" class="mar_rig iconfont icon-note"></i> 学习笔记</a></li>
                <li class="more"><a href="/back/aboutMe"><i title="关于我" class="mar_rig iconfont icon-me"></i>关于我</a><span  class="add"></span></li>
                <div class="content_list">
                    <ul>
                        <li>简历</li>
                    </ul>
                </div>
            </ul>

        </div>
        <div class="cont_right">
            <div class="nav_top">
                <div class="main_first" title="首页"><a href="/"> <i class="iconfont icon-shouye"></i> </a></div>
                <div class="back_list">
                    <ul>
                        <li class="dropdown"><a href="javascript;"> 退出</a></li>
                        <li class="dropdown"><a href="./">关于我</a>
                            <div class="secondMenu">
                                <a href="#">简历</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="./">作品</a>
                            <div class="secondMenu">
                                <a href="/project/hcj?tab=hcj">h5+css3+js+jq</a>
                                <a href="/node">node</a>
                                <a href="#">angular</a>
                                <a href="#">vue</a>
                                <a href="#">es6</a>
                                <a href="/project/hcj?tab=js">javascript</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="/back/artcle">文章</a>
                            <div class="secondMenu">
                                <a href="/back/artcle/bump">遇过的坎</a>
                            </div>
                        </li>
                        <li class="dropdown active"><a href="javascript;"><img style="width: 50px;height: 50px;float: left;" src="/images/user1.jpeg"><span>hyx</span></a> </li>
                        <li class="dropdown"><a href="javascript;">消息</a></li>
                    </ul>
                </div>
            </div>
               <div class="main">